<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />

    <title><%= userProfile.name.toUpperCase() %>'s Profile</title>
    <link rel="stylesheet" href="/css/profile-and-common.css">
    <%- include("../includes/head") %>


    <style>
      main {
        margin-block: 2rem;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 10%;
        /* min-height: 70dvh; */
      }
      .sec {
        width: 100%;
        margin-bottom: 2rem;
      }
      .user-img {
        border: 2px solid black;
        height: 9vw;
        width: 9vw;
        border-radius: 7vw;
        text-align: center;
        object-fit: contain;
      }
      #sec-1 {
        padding-top: .5rem;
        border: 2px solid #ff385c;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 1rem;
      }
      /* #sec-1 > div {
        border: 2px solid blue;
      } */
      .user-info {
        /* border: 2px solid red; */
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .user-name {
        text-align: center;
        font-size: 1.8rem;
        word-break: break-all;
        font-weight: 600;
        color: #ff385c;
      }
      .user-bio {
        padding: 1rem;
        width: 80%;
        min-height: inherit;
        font-size: 1.1rem;
        font-weight: 500;
      }

      /* Section-2 */
      #sec-2 nav ul {
        display: flex;
        overflow-x: auto;
        /* flex-wrap: wrap; */
        column-gap: 2rem;
        row-gap: 1rem;
        padding: 1rem;
      }
      #nav-links::-webkit-scrollbar {
        width: 3px !important;
        height: 3px !important;
    }

    #nav-links {
        overflow: -moz-scrollbars-none;
    }

    #nav-links {
        -ms-overflow-style: none;
    }

    #nav-links::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius:4px;
    }

      #sec-2 nav ul li {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 5px 1.5rem;
        text-wrap: nowrap;
      }
      .option-result {
        width: 100%;
        /* border: 2px solid green; */
        min-height: 30vw;
      }
      .option-result > div {
        min-height: 10vw;
      }
      
      .active {
        background-color: #ff385c;
        color: white;
        border-radius: 1rem;
        height: fit-content;
      }

      .all-task {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content:space-around;
        padding: 0.5rem 1rem;
      }
      .all-task > div {
        border: 2px solid #ff385c;
        padding: 1vw;
        width: 31%;
        /* height: fit-content; */
      }
      .all-task > div > h3 {
        text-transform: capitalize;
        font-size: 2rem;
        font-weight: 500;
      }
      .show-in-detail {
        display: block;
        margin-top: 1vw;
        text-decoration: underline 2px #ff385c;
        font-weight: 500;
      }

      .logout{
        margin-top: 8rem;
      }
      .logout:hover{
        background-color: rgb(179, 5, 5);
      }
      .logout:active{
        background-color: rgb(179, 5, 5);
      }

      .hide {
        display: none;
      }




      /* confirm box related */
      .green-btn {
          display: block;
          margin: 1vw auto;
          border: none;
          border-radius: 3rem;
          padding: 0.5rem 4rem;
          color: white;
          font-size: 1.2rem;
          background-color: #ff385c;
        }
        .del-btn{
          background-color: rgba(255, 0, 0, 0.89);
        }
        .red-btn{
          background-color: rgba(255, 0, 0, 0.89);
        }
      #confirmBox{
            background-color:black;
            color: white;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 70vw;
            padding: 2vw;
            z-index: 2;
            text-align: center;
            border-radius: 1rem;
        }
        .confirm-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        #confirmBox > div{
            margin: 2vw 0;
            display: flex;
            gap: 2vw;
        }
        .hide{
            display: none !important;
        }
        .focus-eff{
            animation: focusEff .1s;
        }
        @keyframes focusEff {
            0%{
                /* transform: translateY(0px); */
                transform: translate(-50%,-50%);
            }
            50%{
                transform: translate(-40%,-50%);
            }
            100%{
                transform: translate(-50%,-50%);
            }
        }

        @media(width<=650px){
            .task-des{
            padding-inline-start: 0ch;
            font-size: 1.2rem;
            font-weight: 500;
        }
        .main-title{
            font-size: 2rem;
            border-bottom: 2px solid #ff385c;
        }
        .highlight{
            background-color: yellow;
        }
        .lists-with-task{
            margin-top: 2rem;
        }
        .green-btn {
          margin: 1rem auto;
          padding: 0.5rem 2rem;
          font-size: 1.2rem;
        }
        .flex{
            flex-wrap: wrap;
        }
        }

        @media(width<=500px){
        #confirmBox .green-btn {
          margin: 1rem auto;
          padding: .4rem 2rem;
          font-size: 1rem;
        }
        }
        @media(width<=360px){
        #confirmBox .green-btn {
          margin: .2rem auto;
          padding: .1rem 2rem;
          font-size: 1rem;
        }
        #confirmBox{
            padding: 1rem;
        }
        #confirmBox > div{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        }









      @media(width<=800px){
        .all-task > div {
        border: 2px solid #ff385c;
        padding: 1vw;
        width: 48%;
        /* height: fit-content; */
      }
      .user-img {
        border: 2px solid black;
        height: 15vw;
        width: 15vw;
        border-radius: 15vw;
      }
      #sec-2 nav ul {
        padding: 5px;
      }
      }


      @media(width<=650px){
        .user-img {
        border: 2px solid black;
        height: 15vw;
        width: 15vw;
        border-radius: 15vw;
      }
      html{
        font-size: 14px;
      }
      }


      @media(width<=550px){
        .all-task > div {
        border: 2px solid #ff385c;
        padding: 1vw;
        width: 98%;
        /* height: fit-content; */
      }
      .user-info {
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .user-img {
        border: 2px solid black;
        height: 20vw;
        width: 20vw;
        border-radius: 15vw;
      }
      .user-name {
        font-size: 1.7rem;
        font-weight: 500;
        color: #ff385c;
      }
      .user-bio {
        padding: 1rem;
        width: 100%;
        min-height: 10rem;
        font-size: 1.1rem;
        font-weight: 500;
      }
      .green-btn-adv{
        padding: .2rem 2rem;
        font-size: 1.2rem;
      }
      }

      @media (width<=400px) {
        .user-img {
        border: 2px solid black;
        height: 24vw;
        width: 24vw;
        border-radius: 15vw;
      }
      }


      .user-stat{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #ff385c;
        border-bottom: 2px solid #ff385c;
        
        text-align: center;
      }
      .user-stat > div{
        width: 30%;
        /* border: 2px solid black; */
      }
      .posts-ref{
        color: black;
        text-decoration: none;
      }
      .posts-ref:hover{
        color: black;
        text-decoration: underline;
      }
      .section-main-title{
        margin: 1rem 0;
        text-align: center;
        color: black;
        text-transform: capitalize;
      }
     
      .user-f{
        /* border: 2px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: .5rem;
      }
      .one-of-user + button{
        /* border: 2px solid red; */
        margin: 0;
      }
      .user-f > *{
        border: 2px solid #ff385c;
        width: 35%;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;
        padding: .5rem 1rem;
      }


      .one-of-user{
        display: flex;
        /* flex-wrap: wrap; */
        /* width: 40%; */
        column-gap: 1rem;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
      }
      
      .one-of-user h2{
        color: black;
        word-wrap: break-word;
        /* color: #ff385c; */
      }
      .user-follow-btn{
        background-color: black;
        color: white;
        padding: .2rem 1rem;
      }
      .user-dp{
        /* border: 2px solid #ff385c; */
        border: 2px solid black;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        object-fit: contain;
      }


      
      @media (width<=950px) {
        .user-f > *{
            width: 45%;
        }
        .one-of-user h2{
        color: black;
      }
      }
      @media (width<=700px) {
        .user-f > *{
            width: 50%;
        }
        .one-of-user h2{
        font-size: 1.4rem;
      }
      .user-dp{
        width: 4rem;
        height: 4rem;
      }
      }

      @media (width<=500px) {
        .user-f > *{
            width: 55%;
        }
        .one-of-user h2{
        font-size: 1.3rem;
      }
      .user-dp{
        width: 3rem;
        height: 3rem;
      }
      .section-main-title{
        font-size: 1.8rem;
      }
      .user-follow-btn{
        background-color: black;
        color: white;
        padding: .2rem 10px;
      }
      }

      @media(width<=450px){
        
        .user-f > *{
            width: 60%;
        }
        .one-of-user h2{
        font-size: 1.3rem;
      }
      /* .user-dp{
        width: 1rem;
        height: 1rem;
      } */
      .section-main-title{
        font-size: 1.8rem;
      }
      .user-follow-btn{
        background-color: black;
        color: white;
        padding: .2rem 6px;
      }
      }
      @media(width<=400px){
        .user-f > *{
            width: 65%;
        }
        .one-of-user h2{
        font-size: 1.2rem;
      }
      /* .user-dp{
        width: 1rem;
        height: 1rem;
      } */
      .section-main-title{
        font-size: 1.8rem;
      }
      .user-follow-btn{
        background-color: black;
        color: white;
        padding: .2rem 6px;
        font-size: 1rem;
      }
      }
      @media(width<=320px){
        .one-of-user h2{
        font-size: 1.1rem;
      }
      .user-dp{
        width: 2.3rem;
        height: 2.3rem;
      }
      .section-main-title{
        font-size: 1.8rem;
      }
      .user-follow-btn{
        background-color: black;
        color: white;
        padding: .2rem 6px;
        font-size: .9rem;
      }
      }
    </style>
  </head> 
  <body>
    <%-include('../includes/navbar.ejs')%>

    
    <% if (successMsg && successMsg.length){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= successMsg %>  
          </div>
    <% } %>

    <% if (errorMsg && errorMsg.length){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= errorMsg %>  
          </div>
    <% } %>

    <main id="profile">
      <section class="sec" id="sec-1">
        <div class="user-info">
          <img src="<%= userProfile.image %>" alt="Error due to some issue profile photo is not visible,Please Reload" class="user-img profileWalaUser" referrerpolicy="no-referrer">
          <!-- <div class="user-img"></div> -->
          <h2 class="user-name txt-cap profileWalaUser"><%= userProfile.name %></h2>
        </div>
        <div class="user-bio">
          <% if (userProfile.bio && userProfile.bio.length) { %>
          <p><%= userProfile.bio %></p>
          <% } else{%>
          <p>Hello <%= userProfile.name %>👋, Write Your Bio Here 👀</p>
          <% } %>
        </div>

        <div class="user-stat">
          <div id="post-sec" class="posts-ref">
              <div><%= (postLength) ? postLength : 0%> </div>
              <div>Post</div>
            </div>
          <div id="followers-sec" class="posts-ref">
            <div><%= (userProfile && userProfile.followers?.length) ? userProfile.followers.length : 0%> </div>
            <div>Followers</div>
          </div>
          <div id="followings-sec" class="posts-ref">
            <div><%= (userProfile && userProfile.followings?.length) ? userProfile.followings.length : 0%> </div>
            <div>Following</div>
          </div>
        </div>
        
        <% if (currUser && currUser.id == userProfile.id) { %>
          <a href="/user/profile/<%= userProfile._id %>/edit/#profile" class="green-btn-adv">Edit Profile</a>         
        <% } else{%>
            <% if (currUser) { %>
              <% if (currUser.followings && currUser.followings.length && currUser.followings.includes(userProfile.id)) { %>
                <button class="green-btn-adv  following follow-star">Following</button>
                <% } else{%>
                  <button class="green-btn-adv follow-star">Follow</button>
                  <% } %>
            <% } else{%>
              <button class="green-btn-adv follow-star">Follow</button>
            <% } %>
        <% } %>

      </section>

      <section class="sec-2">
        <h1 class="section-main-title"><%= userProfile.name %>'s Followings</h1>
        <div class="user-f">
          <% for( let i = userProfile.followings.length-1; i >= 0; i-- ) { %>
            <!-- <p class="following-user"><%= userProfile.followings[i].id %></p> -->
                <div>
                    
                    <a href="/user/profile/<%= userProfile.followings[i].id%>/#profile" class="one-of-user">
                        <img src="<%= userProfile.followings[i].image%>" alt="user-img" class="user-dp">
                        <h2><%= userProfile.followings[i].name%></h2>
                      </a>
                      <!-- <% if (currUser) { %>
                        <% if (currUser.id != userProfile.followings[i].id) { %>
                            <% if (currUser.followings.includes(userProfile.followings[i].id)) { %>
                                <button class="green-btn-adv user-follow-btn following follow">Following</button>
                                <% } else{%>
                                  <button class="green-btn-adv user-follow-btn follow">Follow</button>
                                  <% } %>
                        <% } %>
                      <% } else{%>
                        <button class="green-btn-adv user-follow-btn follow">Follow</button>
                      <% } %> -->
                </div>

            <% } %>
        </div>

        <% if (userProfile.followings?.length == 0) { %>
            <h5 class="text-center">No Followings By <%= userProfile.name.toUpperCase()%></h5>
           <% } %>
      </section>

    </main>


    <!-- follow feature for following user-->
    <!-- <script>
      let followBtns = document.getElementsByClassName("follow");
    
      let followingUsers = document.getElementsByClassName("following-user");
      // console.log(followBtns.length)
      // console.log(followBtns)
      for(let i=followBtns.length-1;i>=0;i--){
        console.log(followBtns[i])
        followBtns[i].addEventListener("click",(e)=>{
          console.log("btn clicked")
        if(`<%=currUser%>`){
          if(followBtns[i].classList.contains("following")){

            // console.log("userid",followingUsers[i]);
          followBtns[i].classList.remove("following");
          // followBtns[i].innerText = "Follow";

          followBtns[i].disabled = true;

          fetch("/user/follow-unfollow",{
            method:"DELETE",
            headers:{
              'Content-Type':'application/json'
            },
            body: JSON.stringify({
              fanID:`<%=currUser?.id%>`,
              // starID:`<%=userProfile.id%>`
              starID:`${followingUsers[i].innerText}`
            }),
          }).then(response=>{
            if(response.ok){
              console.log("unfollow request successful.")
              window.location.href = `/user/profile/<%=userProfile.id%>/followings`;
            }else{
              console.log("unfollow request failed.")
            }
          })

          
        }else{
          followBtns[i].classList.add("following");
          // followBtns[i].innerText = "Following";
          followBtns[i].disabled = true;
          // console.log(followingUsers[i].id);

          fetch("/user/follow-unfollow",{
            method:'POST',
            headers:{
              'Content-Type':'application/json'
            },
            body: JSON.stringify({
              fanID:`<%=currUser?.id%>`,
              // starID:`<%=userProfile.id%>`
              starID:`${followingUsers[i].innerText}`
            }),
          }).then(response=>{
            if(response.ok){
              console.log("follow request successful.")
              window.location.href = `/user/profile/<%=userProfile.id%>/followings`;
            }else{
              console.log("follow request failed.")
            }
          })


        }
        }else{
          window.location.href = "/user-is-not-login";
        }
      })
      }
    </script> -->

    <!-- for star user -->
    <script>
        let followBtnsForStar = document.getElementsByClassName("follow-star");
        for(let i=followBtnsForStar.length-1;i>=0;i--){
        console.log(followBtnsForStar[i])
        followBtnsForStar[i].addEventListener("click",(e)=>{
          console.log("btn clicked")
        if(`<%=currUser%>`){
          if(followBtnsForStar[i].classList.contains("following")){

          followBtnsForStar[i].classList.remove("following");
          // followBtnsForStar[i].innerText = "Follow";

          followBtnsForStar[i].disabled = true;
          console.log(followingUsers[i])

          fetch("/user/follow-unfollow",{
            method:"DELETE",
            headers:{
              'Content-Type':'application/json'
            },
            body: JSON.stringify({
              fanID:`<%=currUser?.id%>`,
              starID:`<%=userProfile.id%>`
            }),
          }).then(response=>{
            if(response.ok){
              console.log("unfollow request successful.")
              window.location.href = `/user/profile/<%=userProfile.id%>`;
            }else{
              console.log("unfollow request failed.")
            }
          })

          
        }else{
          followBtnsForStar[i].classList.add("following");
          // followBtnsForStar[i].innerText = "Following";
          followBtnsForStar[i].disabled = true;

          fetch("/user/follow-unfollow",{
            method:'POST',
            headers:{
              'Content-Type':'application/json'
            },
            body: JSON.stringify({
              fanID:`<%=currUser?.id%>`,
              starID:`<%=userProfile.id%>`
            }),
          }).then(response=>{
            if(response.ok){
              console.log("follow request successful.")
              window.location.href = `/user/profile/<%=userProfile.id%>`;
            }else{
              console.log("follow request failed.")
            }
          })


        }
        }else{
          window.location.href = "/user-is-not-login";
        }
      })
      }
    </script>

    
    <!-- redirection to see followers and other -->
    <script>
        let followers = document.getElementById("followers-sec");
        let followings = document.getElementById("followings-sec");
        let posts = document.getElementById("post-sec");
  
        followers.addEventListener("click",(e)=>{
          window.location.href = `/user/profile/<%=userProfile.id%>/followers`;
        });
        followings.addEventListener("click",(e)=>{
          window.location.href = `/user/profile/<%=userProfile.id%>/followings`;
        });
        posts.addEventListener("click",(e)=>{
          window.location.href = `/user/profile/<%=userProfile.id%>`;
        })

        let user = document.getElementsByClassName("profileWalaUser");
        for(let i=0;i<user.length;i++){
          user[i].addEventListener("click",(e)=>{
            window.location.href = `/user/profile/<%=userProfile.id%>`;
          })
        }
     
      </script>

  </body>
</html>
