  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title><%= item.title %> Post On MAYA</title>
      <%- include("../includes/head")%>
      <style>
        

        .btn {
          display: inline-block;
          background-color: rgba(241, 38, 38, 0.89);
          padding: 0.2rem 1.5rem;
          font-size: 1.2rem;
          text-decoration: none;
          color: white;
          margin: 2rem 0;
        }
        .edit-btn{
          background-color: rgb(14, 212, 14);
        }
        .btn:hover{
          color: black;
        }
        .save-btn{
          background-color: rgb(14, 212, 14);
          padding: .3rem 3rem;
          font-size: 1.1rem;
        }
        .del-btn{
          background-color: red;
          border: none;
          margin-bottom: 0 !important;
        }


        .new-card {
          margin: 2rem auto;
          width: 80%;
        }
        .new-card img {
          width: 100%;
          height: 70vh;
          /* object-fit: fill; */
          object-fit: cover;
        }
        .new-card h1 {
          padding: 0 1rem;
        }
        .main-btns {
          display: flex;
          justify-content: space-around;
        }


        .read-more{
          text-decoration: underline;
        }
        .read-more:hover{
          color: blue;
        }

        .hide{
          display: none;
        }
        .see-all-reviews{
          font-size: 1.2rem;
          background-color: #ff385c;
          border-radius: 1.5rem;
          padding: .3rem 1rem;
          color: white;
          margin: 2rem 0;
        }





        @media (width<=600px) {
          .main-btns {
            flex-direction: column;
          }
          .btn {
            width: 70%;
            display: block;
            margin: 1rem auto;
          }
        }
        .card {
          border: none !important;
        }
        #main-card{
          /* border: 2px solid red !important; */
          margin-top: 3rem !important;
        }

        .rating-section {
          width: 80%;
          margin: 0 auto;
        }
        .form-range {
          width: 100%;
        }
        .review-card {
          border: 2px solid black !important;
          margin: 1rem;
        }
        .main-cards {
          justify-content: center;
        }

        .comment {
          font-size: 1.4rem;
          font-weight: 500;
        }

        #map {
          width: 100%;
          height: 300px;
        }
        .map-col {
          width: 80%;
          margin: 2vw auto;
          display: flex;
          flex-direction: column;
        }
        .location-name{
          width: fit-content;
          background-color: yellow;
          font-size: 1.2rem;
          font-weight: 500;
        }
      </style>
      <link rel="stylesheet" href="/CSS/rating.css" />

      <link
        href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
        rel="stylesheet"
      />
      <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    </head>

    <body>
      <%-include('../includes/navbar.ejs')%> 
      <% if (successMsg && successMsg.length){ %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= successMsg %>
      </div>
      <% } %> 
      <% if (errorMsg && errorMsg.length){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= errorMsg %>
      </div>
      <% } %>

      <div class="card new-card" id="main-card">
        <h1 class="txt-cap"><%= item.title %></h1>
        <img src="<%= item.image.url %>" class="card-img-top" alt="item-img" />

        <div class="card-body">

          <p class="card-text txt-cap">Posted By:<a href="/user/profile/<%= item.owner._id %>/#profile">@<%= item.owner.name %></a></p>
          <p class="card-text txt-cap"><%= item.description %></p>
        </div>
      </div>

      <% if (currUser && currUser._id.equals(item.owner._id)) { %>
      <div class="main-btns">
        <a href="/listings/<%= item._id %>/edit/#editing" class="btn edit-btn"
          >Edit This Post</a
        >
        <form action="/listings/<%= item.id %>?_method=DELETE" method="post">
          <button class="btn del-btn">Delete This Post</button>
        </form>
      </div>
      <% } %> <% if (currUser) { %>
      <div class="rating-section">
        <hr />
        <h1>Leave a Comment</h1>
        <hr />
        <form
          action="/listings/<%= item._id %>/reviews"
          method="post"
          novalidate
          class="needs-validation"
        >

          <div>
            <input type="text" name="review[rating]" value="5" style="display: none;">
            <label for="comment" class="form-label comment">Comment:</label>
            <textarea
              name="review[comment]"
              id="comment"
              cols="30"
              rows="5"
              class="form-control"
              maxlength="700"
              required
            ></textarea>
            <div class="invalid-feedback">
              please add some comments for Post !
            </div>
          </div>

          <button class="btn save-btn">Save</button>
        </form>
      </div>
      <% } %> 
      
      
      <% if(item.reviews.length > 0) {%>
      <div class="rating-section">
        <h3 class="text-center">Post Comments</h3>
        <div class="row main-cards">
          <% for(let i=item.reviews.length-1;i>=item.reviews.length-4;i--) {%>
          <% if (item.reviews[i]) { %>
            <div class="card col-lg-5 review-card">
              <div class="card-body">
                <h3 class="card-title"><a href="/user/profile/<%= item.reviews[i].owner._id %>">@<%= item.reviews[i].owner.name %></a></h3>
                
  
                <div  id="user-review-comment">
                  <% if (item.reviews[i].comment.length > 100) { %>
                   <p class="card-text">
                      <%= item.reviews[i].comment.substring(0,200) %>
                   </p>
                   <p class="card-text hide">
                    <%= item.reviews[i].comment%>
                 </p>
                   <div class="read-more">Read More</div>
                  <% }else{ %>
                      <p class="card-text">
                         <%= item.reviews[i].comment %>
                      </p>
                      <% } %>
                </div>
                
  
                <% if (currUser && currUser._id.equals(item.reviews[i].owner._id)) { %>
                <form
                  action="/listings/<%=item._id%>/reviews/<%=item.reviews[i]._id%>?_method=DELETE"
                  method="post"
                >
                  <button class="btn del-btn">Delete</button>
                </form>
                <% } %>
              </div>
            </div>
          <% } %>
          <% } %>
          <% if (item.reviews.length > 4) { %>
            <a href="/listings/<%= item._id %>/reviews" class="see-all-reviews">See ALL Reviews</a>
           <% } %>
        </div>
      </div>
      <%}%>

      

      <%-include('../includes/footer.ejs')%>


      <script>
        //for review

        let readMoreBtns = document.getElementsByClassName("read-more");

        for(let i=readMoreBtns.length-1;i>=0;i--){
          readMoreBtns[i].addEventListener("click",(e)=>{
            const myPreviousSibling = readMoreBtns[i].previousElementSibling;

           myPreviousSibling.previousElementSibling.classList.toggle("hide");
            
            readMoreBtns[i].previousElementSibling.classList.toggle("hide");
          })
        }
      </script>
    </body>
  </html>
